/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@mixin flex($jc: center, $al: center) {
    display: flex;
    justify-content: $jc;
    align-items: $al;
}

body {
    background-color: #000;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Kadwa', serif;
    font-weight: bold;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

// .brandName {
//     background-color: black;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 250px;
//     text-align: center;
//     margin: 0 auto;
//     padding: 15px;
//     border-radius: 5px;
//     color: white;

//     a {
//         color: white;
//     }
// }

// .logo {
//     width: 50px;
//     margin-left: 10px;
// }

@media only screen and (min-width: 768px) {

    .wrap {
        width: 80%;
    }

    p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    .wrap {
        width: 80%;
    }

    p {
        font-size: 24px;
    }

}