@import '../../styles.scss';

/* top
----------------------------------------*/
.top {
    @include flex();
    background-image: url(../../assets/top-sp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
}

.topCont {
    padding-bottom: 50px;
    max-width: 350px;
}

.topImg {
    width: 250px;
}

.topText {
    margin-top: 16px;

}

.topIntro {
    width: 90%;
    margin: 0 auto;
}

.shopNow {
    display: inline-block;
    margin: 10px;
    padding: 10px 100px;
    background-color: #fff;
    color: #FF56C9;
    border-radius: 8px;
    font-weight: bold;
}

.shopNow:hover {
    background-color: #FF56C9;   
    color: #fff;
    transition: 0.3s;
}

/* product
----------------------------------------*/
.shopTitle {
    width: 240px;
    display: block;
    margin: auto;
}

.product {
    width: 320px;
    border-radius: 20px;
    border: 3px dashed rgba(255, 255, 255, 0.60);
    border-width: 3px;
    margin: 0 auto 40px auto;
}

.productContents {
    width: 80%;
    margin: 40px auto;
}

.colorOption {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.colorOptions {
    @include flex($jc:flex-start);
    margin: 16px 0;
}

.productName {
    text-align: left;
}

.stockPrice {
    @include flex($jc:space-between);
    margin: 8px 0 10px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

.buyNow {
    text-align: center;
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    color: #FF56C9;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 16px;
}

.buyNow:hover {
    background-color: #FF56C9;   
    color: #fff;
    transition: 0.3s;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

button[disabled]:hover {
    background-color: #FF56C9;   
    color: #fff;
    transition: 0.3s;
}

/* about
----------------------------------------*/
.about {
    position: relative;
    padding: 20px 0 60px 0;
}

.aboutTitle {
    text-align: left;
}

.dotGrid-l-sp, .dotGrid-r-sp {
    position: absolute;
    z-index: -1;
}

.dotGrid-l-sp {
    top: 0;
    left: 0;
}

.dotGrid-r-sp {
    bottom: 0;
    right: 0;
}

.aboutText {
    line-height: 2rem;
    font-size: 18px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto 40px auto;
    text-align: center;
}

.aboutPic {
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

.dotGrid-l, .circle-r, .circle-l, .dotGrid-r {
    display: none;
}

/* how to order
----------------------------------------*/
.howToOrder {
    position: relative;
    text-align: center;
    padding: 40px 0;
}

.orderTitle {
    width: 300px;
    text-align: center;
    margin-bottom: 24px;
}

.order-r, .order-l {
    position: absolute;
    z-index: -1;
    height: 150px;
}

.order-r {
    top: 0;
    right: 0;
}

.order-l {
    bottom: 0;
    left: 0;
}

.order-text {
    text-align: center;

    h3 {
        margin-bottom: 16px;
    }

    p {
        width: 80%;
        margin: 0 auto;
    }
}

.processConts {
    width: 350px;
    margin: 0 auto;
}

.processCont {
    margin-bottom: 40px;
}

.processCont:last-child {
    margin-bottom: 0;
}

.process {
    font-family: 'Dancing Script', serif;
    font-size: 40px;
    color: #29DEFE;
    text-align: left;
}

.processNum {
    position: relative;
    height: 180px;
}

.num {
    position: absolute;
    bottom: 0;
    left: 26%;
}

/* news letter
----------------------------------------*/
.newsLetter {
    padding: 80px 0;
    text-align: center;
}

.newsLetterText {
    width: 320px;
    margin-bottom: 10px;
}

.emailSubscribe {
    @include flex();
}

.emailInput {
    width: 250px;
    height: 40px;
    margin-right: 8px;
    border-radius: 4px;
}

/* news letter
----------------------------------------*/
.subscribe {
    display: inline-block;
    background-color: #FF56C9;
    padding: 10px 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    font-size: 12px;
}

.subscribe:hover {
    background-color: #fff;
    color: #FF56C9;
    transition: 0.3s;
}

@media only screen and (min-width: 768px) {

    /* top
    ----------------------------------------*/
    .top {
        height: 100vh;
        padding-top: 100px;
    }

    .topImg {
        width: 500px;
    }

    .topText {
        margin-top: 32px;
    }

    .topIntro {
        margin-bottom: 24px;  
        width: 70%;
    }

    .topCont{
        padding-bottom: 100px;
        max-width: 600px;
    }

    .shopNow {
        padding: 12px 180px;
    }
    
    /* product
    ----------------------------------------*/
    .shopTitle {
        width: 300px;
        margin-bottom: 24px;
    }
    
    .description{
        font-size: 16px;
    }
    
    /* about
    ----------------------------------------*/
    .aboutTitle {
        width: 320px;
    }

    .aboutText, .aboutPic {
        max-width: 600px;
    }

    /* howToOrder
    ----------------------------------------*/
    .orderTitle {
        width: 370px;
    }

    .processConts {
        width: 400px;
        margin: 0 auto;
    }

    .process {
        font-size: 48px;
    }

    .num {
        left: 29%;
    }

    .order-r, .order-l {
        height: 250px;
    }

    
    /* news letter
    ----------------------------------------*/
    .newsLetter{
        @include flex();
    }

    .newsLetterText {
        margin: 0 20px 0 0;
    }
}

@media only screen and (min-width: 1200px) {

    /* top
    ----------------------------------------*/
    .top {
        background-image: url(../../assets/top.png);
        height: 90vh;
    }

    .topCont {
        @include flex();
        max-width: 1200px;
    }

    .topText {
        margin: 0 0 30px 0;
    }

    .topIntro {
        margin-bottom: 40px;  
        width: 70%;
    }

    /* product
    ----------------------------------------*/
    .product {
        width: 390px;
    }

    .productContents {
        width: 80%;
        margin: 40px auto;
    }

    /* about
    ----------------------------------------*/
    .about {
        position: relative; 
        padding: 160px 0; 
        text-align: center;  
    }

    .dotGrid-l-sp, .dotGrid-r-sp {
        display: none;
    }

    .dotGrid-l, .circle-r, .circle-l, .dotGrid-r {
        display: block;
        position: absolute;
        z-index: -1;
    }

    .dotGrid-l {
        top: 0;
        left: 0;
    }

    .circle-r {
        top: 0;
        right: 0;
    }

    .dotGrid-r {
        bottom: 0;
        right: 0;
    }

    .circle-l {
        bottom: 0;
        left: 0;
    }

    .aboutTop {
        @include flex();
        margin-bottom: 120px;
    }

    .aboutText {
        width: 500px;
        margin: 0 0 0 50px;
        font-size: 24px;
    }

    .aboutPic {
        max-width: 1000px;
    }

    /* howToOrder
    ----------------------------------------*/
    .howToOrder {
        padding: 60px 0;
    }

    .processConts {
        display: flex;
        justify-content: center;
        width: 90%;
        max-width: 1500px;
        margin: 0 auto;
    }

    .order-r, .order-l {
        height: 200px;
    }

    .order-text h3 {
        margin: 24px 0;
    }

    /* news letter
    ----------------------------------------*/
    .newsLetter {
        @include flex($jc: space-around);
        padding: 60px 0;
    }

    .newsLetterText {
        width: 400px;
    }

    .emailInput {
        width: 350px;
        height: 50px;
        border-radius: 8px;
        padding: 0 10px;
    }

    .subscribe {
        font-size: 16px;
        border-radius: 8px;
    }

    .subscribe {
        padding: 13px 16px;
    }
}