<header>
    <a class="shopName" routerLink="/home">
      <img class="logo" src="../assets/logo.png" alt="">
      <h1>FUPECKER</h1>
    </a>
  <nav class="menu">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a href="#shop">Shop</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#howToOrder">How to order</a></li>
    </ul>
  </nav>
  <div class="menuIcon">
    <a href=""><img class="cart" src="../assets/cart.png" alt=""></a>
    <a routerLink="/login"><img src="../assets/account.png" alt=""></a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="shopName-footer fadeUpTrigger">
      <a routerLink="/home">
        <img class="logo" src="../assets/logo.png" alt=""><h1>FUPECKER</h1>
      </a>
    </div>
  <ul class="snsLikns fadeUpTrigger">
    <li>
      <a href="#"><img src="../assets/twitter.png" alt=""></a>
    </li>
    <li>
      <a href="#"><img src="../assets/instagram.png" alt=""></a>
    </li>
    <li>
      <a class="facebook" href="#"><img src="../assets/facebook.png" alt=""></a>
    </li>
  </ul>
  <p class="copy fadeUpTrigger">&copy; 2023 Fupecker All right reserved</p>
</footer>





